<?xml version="1.0" encoding="UTF-8" ?>

<configuration scan="false" debug="false">

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%X{common}] %-5level [%thread] %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="warn"/>
    <logger name="ch.qos.logback" level="WARN" addtivity="false"/>

    <root level="info">
        <appender-ref ref="console"/>
    </root>

</configuration>
